html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #ade6b9;
  letter-spacing: 1px;
}

/* DESKTOP LAYOUT */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 3% .5%;
  align-items: center;

}

@media (max-width: 600px) {
  #header {
      padding: 1vh 1%;
  }
}


#header-img {
  width: 100%;
  max-width: 250px;
}

#nav-bar ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: flex-start -10%;
  width: 100%;
  height: fit-content;
}



.nav-link {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
  padding: 1vh 1em;
  color: rgb(8, 1, 1);
  text-decoration-line: none;
  transition: .3s;
  font-size: 17px;
  width: auto;
  height: fit-content;
}


.btn-slim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: -1%;
  margin-right: 1%;
  min-width: 2em;
  padding: .5vh 1em;
  background-color: #043c2c;
  color: #ffffff;
}

.nav-link:hover {
  padding: em 0.1vh;
  border-top: .2em solid #FFF;
  border-bottom: 0.2em solid #FFF;
  transition: .4s;
  
}


/* Main Content */
.container {
  display: flex;
  flex-direction: column;
  margin: 200px auto 0 auto;
  max-width: auto;
  background-color: #043c2c;
  padding-top: -10em;

}

.intro {
  display: flex;
  align-items: center;
}

.title {
  width: 50%;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 5%;
}

.main-title {
  font-size: 50px;
  margin-bottom: 16px;
  text-align: start;
  margin-left: 36%;
}

.join-btn {
  display: block;
  width: 10em;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid #013d2b;
  transition: .3s;
  color: #013d2b;
  background-color: #ade6b9;
  margin-right: 5.5em;
}

.phone {
   width: 50%;
   text-align: right;
   margin-right: 10%;
   margin-bottom:  5%;;
}

.join-btn:hover {
  background-color: #74a17e;
  transition: .3s;
}

/* About */
#about {
  text-align: center;
  padding-top: 2px;
}

.heading {
  margin: 50px auto 30px auto;
  padding: 10px 0;
  width: 200px;
  text-align: center;
  font-size: 2.25em;
  font-weight: 100;
  border-top: 2px solid #ade6b9;
}

.about-text {
  max-width: 1024px;
  font-size: 1.1em;
  line-height: 1.7em;
  margin: 0 auto;

}

.slogan {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  margin-bottom: 1em;
  font-size: 3em;
  color: #bae2c3;
  text-decoration-line: overline;

}

.play {
  display: flex;
  justify-content: space-evenly;
  padding-top:auto;
  font-size: 2em;
  margin-bottom: -1.1em;
  text-decoration: overline;
  
}

.highlight {
  padding: 5px 0;
  font-weight: 600;
  color: #fefefe;
  text-decoration: none;
  border-top: 2px solid #ade6b9;
  border-bottom: 2px solid #ade6b9;
  transition: .3s;
}

.highlight:hover {
  padding: 2px 0;
  border-top: 2px solid #74a17e;
  border-bottom: 2px solid #74a17e;
  transition: .3s;
}

/* Vision */

.vision {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: inherit;
  font-size: 1em;

  
}

/* Video */
#video {
  padding: 3px;
  width: 100%;
  height: 100%;
  max-width: 560px;
  min-height: 315px;
  border: 2px solid #ade6b9;
}

/* Pricing */
#pricing {
  padding-top: 1em;
}

.pricing-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  padding: 0;
  width: 300px;
  text-align: center;
  list-style: none;
  transition: .3s;
}

.pricing-plan li:not(.get):not(.pricing-title) {
  padding: 20px 0;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.pricing-title {
  padding: 20px 0;
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: #319370;
  border: #fefefe solid;

}

.price {
  padding: 20px 0;
  font-size: 1.5em;
  color: rgb(134, 200, 179);
  background-color: #043c2c;
}

.get {
  padding: 20px;
  background-color: #0e5e47;
  transition: .3s;
  border: 2px solid #3B3F44;
  border-top: none;
  cursor: pointer;
  border: #FFF solid;
}

.get:hover {
  background-color: #9fc9aa;
  transition: .3s;
}

.get-btn {
  font-size: 1.5em;
  font-weight: 600;
  color: #FFF;
  text-decoration: none;
}

/* Contact */
#contact {
  padding-top: 50px;
}

.contact-text {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.7em;
}

#form {
  text-align: center;
}

#email {
  padding: 10px;
  width: 280px;
  letter-spacing: 1px;
  border: 2px solid #043c2c;
  transition: .3s;
}

#email:focus {
  outline: none;
  border: 2px solid #74D1BA;
  transition: .3s;
}

#submit {
  margin: 10px;
  padding: 10px;
  width: 150px;
  font-weight: 600;
  color: #043c2c;
  letter-spacing: 2px;
  border: 2px solid #043c2c;
  background-color: #ffffff;
  transition: .3s;
}

#submit:hover {
  background-color: #9fc9aa;
  cursor: pointer;
  transition: .3s;
}

/* Footer */
footer {
  margin-top: 50px;
  height: 50px;
  text-align: center;
  color: #FFF;
  background-color: #043c2c;
}

.footer-text {
  padding-top: 15px;
}

/* TABLET LAYOUT */

@media only screen and (max-width: 1200px) {

  /* Header */
  #header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Navigation Bar */
  #nav-bar ul {
    padding-left: 0;
    min-width: 290px;
  }

  /* Main Content */
  .container {
    margin-top: 200px;
  }

  .main-title {
    font-size: 2.5em;
    line-height: 1.3;
  }

  /* About */
  .heading {
    font-size: 1.7em;
    margin-bottom: 5px;
  }

  .about-text {
    font-size: 1.1em;
    margin-bottom: 40px;
    padding: 0 20px;
  }

  /* Icons */
  .icon-div {
    margin: 10px;
  }

  /* Video */
  #video {
    margin-top: 30px;

  }

  /* Pricing */
  .pricing-div {
    margin-top: 10px;
  }

  .pricing-plan {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-text {
    margin-top: 0;
  }
}

/* MOBILE LAYOUT */
@media only screen and (max-width: 665px) {

  /* Main Content */
  .main-title {
    font-size: 2em;
    margin: 0 20px;
  }

  /* About */
  .heading {
    font-size: 1.5em;
  }

  .about-text {
    font-size: 1em;
    margin-bottom: 40px;
  }

  /* Contact */
  .contact-text {
    padding: 0 20px;
    font-size: 1.2em;
  }

  #email {
    width: 50%;
  }
}

/*  .behaelter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 240px;
  padding-top: 70px;

}

.slot {
  display: flex;
  width: 270px;
  flex-wrap: wrap;
  aspect-ratio: 1/1;
  border: 2px outset #9fc9aa ;
  cursor: grab;

} */

.behaelter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vh 10%;
  padding-top: 4vh;
}

.slot {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  border: 5px outset #9fc9aa;
  cursor: grab;
}

@media (max-width: 600px) {
  .slot {
    width: 100%;
  }
}

.slot img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.drag-over {
  border: 0.5em solid rgb(255, 247, 0);
}

